.dashboard__title {
  font-size: 10rem;
}

.dashboard-intro {
  @include make-row;
  padding-top: 3rem;
}
.dashboard__cafe-about {
  @include make-md-column(9);
  font-weight: bold;
  line-height: 1.75;

}
.dashboard__intro-address {
  @include make-md-column(3);
  padding-left: 20px;
  font-size: 13px;
}

.dashboard__map {
  margin-bottom: 60px;
}

.dashboard__map-graphic {
    width: 100%;
    height: 400px;
    margin-top: 4rem;
    clear: both;
}
.dashboard__cafe-details {
  margin-top: 40px;
}

.dashboard__discount-amount {
  font-size: 4rem;
  font-weight: bold;
}

.dashboard__discount {
  width: 100%;
  text-align: center;
  background-color: #7371AD;
  color: #fff;
  padding: 30px;
  margin-top: 1rem;
}

.dashboard__saved-amount {
  font-size: 4rem;
  font-weight: bold;
}

.dashboard__saved {
  width: 100%;
  text-align: center;
  background-color: #71AD97;
  color: #fff;
  padding: 30px;
  margin-top: 6rem;
}

.dashboard__address {
  margin-top: 2rem;
}

.dashboard__address-heading {
  margin-top: 0;
}

.dashboard__cafe-information {
  @include make-md-column(3);
}

.dashboard__progress {
  @include make-md-column(9);
  min-height: 602px;
}

.dashboard__phone {
  margin-top: 10px;
}

.dashboard__progress-title {
  text-align: center;
}

.dashboard__enter-data {
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.dashboard__other-cafes {
  display: block;
  margin-top: 20px;
}

.dashboard__no-data {
  text-align: center;
  padding-top: 200px;
}