<h1>Responsible cafes</h1>

<div class="cafes__statistics">
  <div class="cafes__statistics__total-cafes">
    <p><%= @cafes.count %></p>
    <p>Responsible cafes</p>
  </div>
  <div class="cafes__statistics__total-cups-saved">
    <p><%= @total_cups_saved %></p>
    <p>Cups saved from landfill</p>
  </div>
</div>
<% @cafes.each do |cafe| %>
  <%= link_to cafe.business_name, dashboard_path(cafe.id) %>
<% end %>